# Config file for automatic testing at travis-ci.org
dist: xenial
language: python

sudo: false
python:
  - "3.7"
  - "3.6"
  - "3.5"
  - "3.4"
  - "2.7"
env:
  - DJANGO_VERSION=2.1
  - DJANGO_VERSION=2.0
  - DJANGO_VERSION=1.11
before_install:
  - pip install -q django==$DJANGO_VERSION
install:
  - python setup.py develop
script:
  - python setup.py test
matrix:
  exclude:
    - python: "3.4"
      env: DJANGO_VERSION=2.1
    - python: "2.7"
      env: DJANGO_VERSION=2.1
    - python: "2.7"
      env: DJANGO_VERSION=2.0
