{% load easy_maps_tags %}
{% with latitude|stringformat:"f" as lat %}
{% with longitude|stringformat:"f" as long %}

{% block html %}
    <!-- HTML map container -->
    <div id="map-canvas-{{ id }}"
         style="width: {{ width }}px; height: {{ height }}px;"
         class="easy-map-googlemap">
         {% block noscript %}
         <noscript>
            <img alt="Map of {{ address }}" src="https://maps.google.com/maps/api/staticmap?center={{ lat }},{{ long }}&zoom={{ zoom }}&markers={{ lat }},{{ long }}&size={{ width }}x{{ height }}&sensor=false">
         </noscript>
         {% endblock noscript %}
    </div>
{% endblock %}

{% block map_js %}
    <!-- Map creation script -->
    <script type="text/javascript">
        function initialize_map_{{ id_safe }}() {
            var latlng = new google.maps.LatLng({{ lat }}, {{ long }});
            var mapElem = document.getElementById("map-canvas-{{ id }}");
            {% block map_options_js %}
            var mapOptions = {
                zoom: {{ zoom }},
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            {% endblock %}

            var map = new google.maps.Map(mapElem, mapOptions);

            {% block extra_js %}
            {% if markers %}
                {% for marker in markers %}
            var marker = easy_maps_add_marker(map, {{marker.json|safe}});
                {% endfor %}

                {% comment %}use the zoom level passed as argument if there is only one marker{% endcomment %}
                {% if markers|length > 1 %}
            // display all the markers 
            // http://blog.shamess.info/2009/09/29/zoom-to-fit-all-markers-on-google-maps-api-v3/
            map.fitBounds(g_lat_long_bound);
                {% else %}
            easy_maps_add_listener("{{ id }}", marker);
                {% endif %}
            {% endif %}

            {% endblock %}
        }

        {% block map_loading_js %}
        // initialize the map after page loading
        google.maps.event.addDomListener(window, 'load', initialize_map_{{ id_safe }});
        {% endblock %}
    </script>
{% endblock %}

{% endwith %}
{% endwith %}
